# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

RewriteCond %{HTTP_HOST} ^www.meta-architects.ru$ [NC]
RewriteRule ^(.*)$ http://meta-architects.ru/$1 [R=301,L]

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

<FilesMatch ".(jpg|jpeg|png|ico|js|css|pdf)$">
	Header set Cache-Control "max-age=360"
</FilesMatch>

<ifmodule mod_expires.c>
	<FilesMatch ".(jpg|jpeg|png|ico|js|css|pdf)$">
		ExpiresActive on
		ExpiresDefault "access plus 1 hours"
	</Filesmatch>
</ifmodule>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

AddDefaultCharset UTF-8
SetEnv KOHANA_ENV DEVELOPMENT
# SetEnv KOHANA_ENV PRODUCTION
