ul.slimmenu.collapsed > li > a {
    padding: 10px 20px;
}
p {
	font-size: 14px;
	line-height: 24px;
}
.menu-bg {
	background: #888;
}
.parallax-my-bg {
	background: #fff;
	display: inline-block;
	padding: 0 10px;
}
