ul.slimmenu.collapsed > li > a {
    padding: 10px 20px;
}
p {
	font-size: 14px;
	line-height: 24px;
}
.menu-bg {
	background: #555;
}
.parallax-my-bg {
	background: #fff;
	display: inline-block;
	padding: 0 10px;
}
.works-item a {
	border: none !important;
}
.zoom a {
	cursor: pointer !important;
}
.works-item-inner h3 {
	font-size: 14px !important;
}
.works-item-inner p > span {
	font-size: 14px !important;
}

.text-justify-important,
.text-justify-important p {
	text-align: justify !important;
} 


.inner-photo-album {
	float: right;
}
.inner-photo-album ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.inner-photo-album li {
	margin-bottom: 15px;
}
.inner-photo-album li img {
	width: 100%;
}

.inner-photo-slider-wrapper {
	margin-top: 30px;
	position: relative;
}

.bx-prev, .bx-next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  z-index: 10;
}
.bx-prev:hover,
.bx-next:hover {
	color: #ffc740 !important;
}

.bx-prev {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .9)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.bx-next {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .9) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .9) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .9)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.bx-prev:hover,
.bx-next:hover,
.bx-prev:focus,
.bx-next:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
}

.inner-photo-slider-wrapper .glyphicon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
}

footer .social-nav a {
	background: url(../images/icons.png) 0 0 no-repeat;
	width: 48px;
	height: 48px;
	display: block;
	font-size: 0 !important;
}
footer .social-nav a.vk {
	background-position: -116px 0;
}
footer .social-nav a.tw {
	background-position: -174px 0;
}
footer .social-nav a.fb {
	background-position: -290px 0;
}
footer .social-nav a.yt {
	background-position: -174px -58px;
}
footer .social-nav a.ok {
	background-position: -232px 0;
}
footer .social-nav a.g {
	background-position: -116px -232px;
}
footer .social-nav a.in {
	background-position: -290px -174px;
}

.menu-collapser > .logo {
	display: block;
	width: 184px;
	height: 48px;
	background: url(../images/logo-mobile.png) 0 5px no-repeat;
}

.works-masonry-container .works-item {
	overflow: hidden;
}

.redirector li.active a > i {
  border-color: #ffc740;
  color: #ffc740;
}

.news-list-01:hover {
	background-color: #ccc;
}

.text-content img {
	display: block;
    height: auto;
    max-width: 100%;
}

.minimal-not-caps{
	text-transform: none !important;
}

.main-text-h1 {
	margin-bottom: -30px;
}
@media screen and (max-width: 667px) {
	.main-text-h1 {
		margin-top: 40px;
	}
}
.header-slogan {
	font-size: 14px;
	position: absolute;
	top: 40px;
	left: 72px;
	font-family: "designova_hgr_light",sans-serif;
	text-transform: uppercase;
}

.text-content a {
	text-decoration: underline;
}

.feedback-modal-holder {
	margin: 30px 0;
	text-align: center;
}

#feedback-modal .modal-content {
	border-radius: 0 !important;
}
#feedback-modal .modal-header {
	border: none;
	text-align: center;
}
#feedback-modal .modal-footer {
	border: none;
}
#feedback-modal h4 {
	font-family: "designova_hgr_regular",sans-serif !important;
	font-size: 22px;
	letter-spacing: 4px;
	line-height: 29px;
}

#feedback-modal .text {
	margin-bottom: 20px;
}

input {
	border-width: 1px !important;
}
.form-row.error input {
	border-color: red !important;
}



.btn {
	border-radius: 0 !important;
	font-family: "Lekton",sans-serif !important;
}

@media (max-width: 980px) {
	.modal-footer .btn:FIRST-CHILD {
		margin-bottom: 15px;
	}
	.modal-footer .btn + .btn {
		margin-left: 0;
	}
}

@media screen and (max-width: 320px) {
	#feedback-modal h4 {
		font-size: 14px;
		letter-spacing: 4px;
		line-height: 21px;
	}
}

@media screen and (max-width: 414px) {
	#feedback-modal h4 {
		font-size: 16px;
    	letter-spacing: 4px;
		line-height: 23px;
	}
}

@media screen and (max-width: 600px) {
	#feedback-modal h4 {
		font-size: 18px;
		letter-spacing: 4px;
    	line-height: 25px;
	}
}

























